replicaCount: 1

namespace: hrms

image:
  repository: 475936984863.dkr.ecr.ap-south-1.amazonaws.com/hrms/notification-service
  tag: 1a2a5199
  pullPolicy: Always

service:
  type: NodePort
  port: 80
  targetPort: 80
  nodePort: null

env:
  APP_NAME: "Notification Service"
  DB_HOST: "mysql"
  DB_PORT: "3306"
  DB_NAME: "hrms_notifications_db"
  DB_USER: "hrms_user"
  DB_PASSWORD: "hrms_password"
  JWKS_URL: "https://api.asgardeo.io/t/pookieland/oauth2/jwks"
