apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

# Create ConfigMap from Lua script
configMapGenerator:
  - name: fluentbit-lua-scripts
    files:
      - scripts/extract_service.lua
    options:
      disableNameSuffixHash: true

# Helm chart dependency
helmCharts:
  - name: fluentbit
    repo: https://fluent.github.io/helm-charts
    version: 0.53.0
    releaseName: fluent-bit
    namespace: logging
    valuesFiles:
      - values-shared.yaml
