apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: logging

# Helm chart dependency
helmCharts:
  - name: fluentbit
    repo: https://fluent.github.io/helm-charts
    version: 0.53.0
    releaseName: fluent-bit
    namespace: logging
    valuesFiles:
      - values-shared.yaml
    valuesInline:
      fluent-bit:
        # Volume mounts for log collection
        volumeMounts:
          - name: varlog
            mountPath: /var/log
          - name: varlibdockercontainers
            mountPath: /var/lib/docker/containers
            readOnly: true
          - name: etcmachineid
            mountPath: /etc/machine-id
            readOnly: true
        daemonSetVolumes:
          - name: varlog
            hostPath:
              path: /var/log
          - name: varlibdockercontainers
            hostPath:
              path: /var/lib/docker/containers
          - name: etcmachineid
            hostPath:
              path: /etc/machine-id
              type: FileOrCreate
