replicaCount: 1
zookeeper:
  enabled: true
  replicaCount: 1
persistence:
  enabled: true
  size: 8Gi
resources:
  requests:
    cpu: 200m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi
service:
  type: ClusterIP
image:
  repository: ""
  tag: ""
