replicaCount: 1
zookeeper:
  enabled: true
  replicaCount: 1
persistence:
  enabled: false
resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi
service:
  type: ClusterIP
