architecture: standalone
master:
  persistence:
    enabled: true
    size: 4Gi
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
service:
  type: ClusterIP
namespace: production
